.dropdownMenu {
  margin: 0;
  position: absolute;
  padding-right: clamp(56px, 3.7vw, 64px);
  padding-left: clamp(56px, 3.7vw, 64px);
  padding-top: clamp(48px, 3.2vw, 56px);
  padding-bottom: clamp(48px, 3.2vw, 56px);
  background-color: #ffffff;
  border-radius: 8px;
  height: fit-content;
  left: 120px;
  top: 100px;
  width: 55vw;
  max-width: 1000px;
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: clamp(64px, 4.6vw, 80px);
  visibility: hidden;
  z-index: 99;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.dropdownMenuShow {
  margin: 0;
  position: absolute;
  padding-right: clamp(56px, 3.7vw, 64px);
  padding-left: clamp(56px, 3.7vw, 64px);
  padding-top: clamp(48px, 3.2vw, 56px);
  padding-bottom: clamp(48px, 3.2vw, 56px);
  left: 120px;
  background-color: #ffffff;
  border-radius: 8px;
  height: fit-content;
  top: 100px;
  width: 55vw;
  max-width: 1000px;
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: clamp(64px, 4.6vw, 80px);
  z-index: 99;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  top: calc(100% + 10px);
  visibility: visible;
  opacity: 1;
}
.lockDropdown {
  margin: 0;
  position: absolute;
  padding-right: clamp(32px, 2.31vw, 40px);
  padding-left: clamp(32px, 2.31vw, 40px);
  padding-top: clamp(24px, 1.85vw, 32px);
  padding-bottom: clamp(24px, 1.85vw, 32px);
  background-color: #ffffff;
  border-radius: 8px;
  height: fit-content;
  top: 85px;
  right: 8%;
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 1.85vw, 32px);
  visibility: hidden;
  z-index: 99;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

.lockDropdownShow {
  margin: 0;
  position: absolute;
  padding-right: clamp(32px, 2.31vw, 40px);
  padding-left: clamp(32px, 2.31vw, 40px);
  padding-top: clamp(24px, 1.85vw, 32px);
  padding-bottom: clamp(24px, 1.85vw, 32px);
  background-color: #ffffff;
  border-radius: 8px;
  height: fit-content;
  top: 85px;
  right: 8%;
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 1.85vw, 32px);
  z-index: 99;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  top: calc(100% + 10px);
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1059px) {
  .lockDropdown {
    right: 13%;
  }
  .lockDropdownShow {
    right: 13%;
  }
  .dropdownMenu {
    width: 70vw;
  }
  .dropdownMenuShow {
    width: 70vw;
  }
}
@media screen and (min-width: 1400px) {
  .dropdownMenu {
    width: 70vw;
  }
  .dropdownMenuShow {
    width: 70vw;
  }
}
