.image {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.mask1 {
  mask-size: auto;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: url("../../public/images/stjornVestmanneyjaFrame.svg");
}
